* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
body {
  overflow-x: hidden;
  nav {
    // box-shadow: 0 10px 6px -6px #777;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 5;
    ul {
      display: flex;
      padding-left: 2rem;
      // 使其橫排
      li {
        list-style-type: none;
        // 取消原本的黑點
        margin: 1rem;
        a {
          color: black;
          text-decoration: none;
          transition: all 0.1s ease;
          &:hover {
            color: lightgreen;
          }
        }
      }
    }
  }
  main {
    section.main-area {
      min-height: 70vh;
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      div.info {
        // border: 2px solid black;
        flex-basis: 450px;
        padding: 1rem;
        h1 {
          font-size: 3rem;
        }
        h2 {
          font-size: 1rem;
          padding-top: 0.5rem;
        }
        a {
          font-size: 1.5rem;
          display: inline-block;
          // 不然無法與上面的<p>有間格
          margin-top: 1rem;
          color: white;
          background-color: rgb(255, 202, 144);
          border-radius: 20px;
          text-decoration: none;
          transition: all 0.2 ease;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      div.img-area {
        // border: 2px solid black;
        flex-basis: 450px;
        img {
          width: 100%;
        }
      }
    }
    section.skill {
      background-color: lightgreen;
      padding: 5rem 2rem;
      min-height: 50vh;
      display: flex;
      justify-content: center;
      section.describe {
        width: 50%;
        text-align: center;
        h2 {
          font-size: 2rem;
        }
      }
      div.progress-bar-area {
        p {
          margin-top: 0.5rem;
        }
      }
    }
    section.introduction {
      min-height: 70vh;
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
      overflow-x: auto;
      section.intro {
        // border: 2px solid black;
        padding: 2rem;
        flex: 5 0 500px;
        table {
          border-collapse: collapse;
          tr {
            border-bottom: 2px solid gray;
            transition: all 0.2s ease;
            &:hover {
              background-color: lightgreen;
            }
          }
          td {
            padding: 1rem;
          }
        }
      }
      section.image {
        // border: 2px solid black;
        flex: 1 1 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        // flex 預設align-items: stretch;
        position: relative;
        img {
          width: 80%;
        }
        div.greenRect1 {
          width: 30vw;
          height: 90vh;
          border: 10px solid lightgreen;
          position: absolute;
          top: 30px;
          left: 70px;
          z-index: -1;
        }
        div.greenRect2 {
          width: 50vw;
          height: 50vh;
          border: 10px solid lightgreen;
          position: absolute;
          top: 0px;
          left: -20px;
          z-index: -1;
        }
        div.greenRect3 {
          width: 44vw;
          height: 50vh;
          border: 10px solid lightgreen;
          position: absolute;
          top: 200px;
          left: -200px;
          z-index: -1;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  body {
    nav {
      ul {
        flex-direction: column;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  body {
    main {
      section.skill {
        section.describe {
          width: 80%;
        }
      }
      section.introduction {
        section.image {
          div.greenRect1,
          div.greenRect2,
          div.greenRect3 {
            display: none;
          }
        }
      }
    }
  }
}
